<form action="/shop/register" method="post">
    <input id="firstName" name="firstName" type="text" placeholder="firstName">
    <input id="lastName" name="lastName" type="text" placeholder="lastName">
    <input id="email" name="email" type="text" placeholder="email">
    <input id="age" name="age" type="text" placeholder="age">
    <input id="password" name="password" type="text" placeholder="password">
    <input type="submit" value="registrar">
</form>
<a href="/login">ya tengo cuenta!</a>
<div>
    <a href='/api/sessions/github'>Entrar con github</a>
</div>